# Node modules
node_modules
# Environment
.env
.env.*.local
.env.local

# Logs
logs/
*.log

# Build
dist/
build/
coverage/

# Temp files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
